*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  background: rgb(27,27,27);
}

.container{
  display: flex;
  justify-content: center;
  flex-wrap:wrap ;
  width: 100%;

 
}

.card{
  background: white;
  width:300px;
  margin: 10px;
  border-radius: 15px;
  text-align: center;
 
}
.card-image .pic{
  text-align: center;
  margin-top: 50px;
}
.card-image{
  background-color:black;
  text-align: center;
  height: 200px;
  margin-bottom: 15px;
  background-size: cover;

}
.card p{
  padding: 10px;
}
.card h3{
  font-size: 20px;
  text-align: center;

  font-style: normal;
  /* position: relative; */
}
.card p{
  text-align: center;
  font-size: 15px;
  font-style: normal;

}
.card:hover{
  background-color: rgb(62,62,62);
  color: white;
  cursor: pointer;
  transform: scale(1.03);
  transition: all 1s ease;
}
.fas{
  color: rgb(143, 174, 202);
  font-size: 30px;
  position: fixed;
  display: block;

  
}
.fas:hover{
  color: lightgrey;
  cursor: pointer;
}
.leftarrow{
  left: 0px;
  top: 50%;
}
.rightarrow{
  right: 0px;
  top:50%;
}
